.PlayJackpot {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.PlayJackpot-Blocks {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}
.PlayJackpot-Blocks table {
  box-shadow: 0 0 20px #fff, 0px 0 20px #f0f, 0px 0 30px #0ff;
  border-radius: 10px;
}
.PlayJackpot-balance {
  align-self: center;
}

.PlayJackpot-balance table th {
  padding: 0.5em 1em 0.5em 1em;
  color: white;
  background-color: rgb(206, 58, 66);
}

.PlayJackpot-btns button {
  margin: 1em;
  align-self: center;
  width: 15em;
  padding: 1.5em;
  border: 0px;
  border-radius: 10px;
  color: white;
  background-color: rgb(206, 58, 66);
  margin-top: 3em;
}

.PlayJackpot-btns button:hover {
  background-color: tomato;
  cursor: pointer;
}

.cashout_godown {
  position: relative;
  top: 300px;
}

.cashout_goright {
  position: relative;
  left: 300px;
}

.cashout_goup {
  position: relative;
  bottom: 300px;
}
